<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Ecstasy</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type="text/css" href="/static/css/home.css"
</head>
<body>
    <div class="everything">
        <div class="navbar">
            <div class="header">
                <h1>Coding Ecstasy</h1>
            </div>
            <div class="navitems">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Courses</a></li>
            </div>
        </div>

        <div class="main">
            <div class="head">
                <h2>We find contentment in helping you to find pleasure in the world of coding</h2>
            </div>
            <div class="content">
                <a href="#courses">Lets Begin</a>
            </div>
        </div>

        <div class="main2">
            <div class="head2">
                <h2>About Us</h2>
            </div>
            <div class="content2">
                <p>We here at coding ecstasy are determined to teach you everthing you need to know about code. We offer notes and courses on a variety of different prgramming languages. Our notes offer step by step instructions on how to learn a particular programming language. </p>
            </div>
        </div>

        <div class="main3">
            <div class="head3">
                <h2>Courses</h2>
            </div>
            <div class="content3" id="courses">
                <p>We offer courses on many different programming languages, such as python, java script, ruby on rails etc. We offer step by step details on how to learn a particular programming language and memorize certain things. You can check all our courses down below :</p>
            </div>
            <div class="course">
                <a href="#">Courses</a>
            </div>
        </div>

    </div>
        
</body>
</html>